.main {
  display: flex;
  justify-content: center;
  align-items: start;
  width: 100vw;
  height: auto;
  min-height: 100vh;
  background-color: #15151e;
}

.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  max-width: 750px;
  align-content: flex-start;
  gap: 20px;
}

.content:first-child {
  padding-top: 20px;
}

.driver {
  width: 90vw;
  height: 90vw;
  max-height: 350px;
  max-width: 350px;
  text-align: center;
  /* padding: 10px; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 4px rgba(255, 24, 1, 0.5) solid;
  border-right: 4px rgba(255, 24, 1, 0.5) solid;
  border-top-right-radius: 15px;
  border-bottom: 4px #15151e solid;
  border-left: 4px #15151e solid;
}

.driver-image {
  width: 90%;
  height: 90%;
  object-fit: contain;
  cursor: pointer;
}

.small {
  width: 45vw;
  height: 45vw;
  max-height: 175px;
  max-width: 175px;
}